/* HEADER */
header {
    background-color: black;
    padding: 1vw;
    text-align: center;
}

/* MENU */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2vw;
}

ul li a:hover {
    background-color: green;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: floralwhite;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* TÍTULOS E TEXTOS */
h1 {
    color: green;
    font-size: 3vw;
}

h2 {
    color: blue;
    font-size: 2.2vw;
}

h3 {
    color: midnightblue;
    font-size: 1.8vw;
}

p {
    font-size: 1.2vw;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
}

/* IMAGENS */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/* TABELAS */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    font-size: 1.2vw;;  /* ajustado */
    padding: 1vw;
    border: 1px solid #ccc;
}

th {
    background-color: lightgray;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
}