header{
    background-color:black;
    padding: 1vw;
    text-align:center;
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}


ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color:green;
}

}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:floralwhite;
}
h1{
    color:green;
    font-size: 6vw;
}
h2{
    color:blue;
    font-size: 4vw;
}
h3{
    color:midnightblue;
    font-size: 3vw;;
}
p{
    font-size: 2.5vw;
    text-align:justify;
    margin-left:10px;
    margin-right:10px;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    height: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    width:100%;
}
th{
    font-size: 2.2vw;
    padding: 1vw;
    border: 1px solid #ccc;
    background-color:lightgray;
    
}  
td{
    font-size: 2.2vw;
    padding: 1vw;
    border: 1px solid #ccc;
    text-align:center;
}
a{
    text-decoration:none;
    color:black;
}
